#container {
    width: 1000px;
    margin: auto ;
  }
h1{
	padding-left: 25px;
}

#head {
  height: 175px;
  padding-left: 300px;
  padding-bottom: 240px;
  }

#table{
	
	height: 450px;
	padding-left: 25px;
	}

#footer{
	display: block;
	width: 700px;
	padding-left: 25px;

}

#table{
  overflow: scroll;
  height: 700px;
}
#body{
	background-image: url("/static/wuzgood.png");
	height: 700px;
	background-size: 800px 600px;
	background-repeat: no-repeat;
}
#navbar{
  opacity: .9;
  }
